.wrapper {
    width: 300px;
    display: inline-block;
    height: auto;
    border: 1px solid gray;
    padding: 10px;
    margin: 10px;
}

.wrapper img {
    width: 300px;
    height: 200px;
}

.wrapper2 {
    width: 300px;
    display: inline-block;
    height: auto;
    border: 1px solid gray;
    padding: 10px;
    margin: 10px;
}

.wrapper2 img {
    width: 200px;
    height: 200px;
}

.btn-click {
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
}
